section{
	$section-padding:50px;
	padding-top:$section-padding;
	padding-bottom:$section-padding;
}


// modifyers

.no-padding{
	padding:0px !important;
}

.no-padding-top{
	padding-top:0px !important;
}

.no-padding-bottom{
	padding-bottom:0px !important;
}