@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

.two-col{
	
	.two-col-item{
		margin-top:50px;
	}

	.item__icon{
		text-align:center;
		width:200px;
		height:200px;
		margin:0 auto 40px;
		overflow:hidden;
		@include border-radius(50%);
		

		img{
			max-width:100%;
		}
	}	
}

.three-col{
	
	.three-col-item{
		margin-top:50px;
	}

	.item__icon{
		text-align:center;
		width:200px;
		height:200px;
		margin:0 auto 40px;
		overflow:hidden;
		@include border-radius(50%);

		img{
			max-width:100%;
		}
	}
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
	
	.three-col{
		.three-col-item{
			margin-top:0px;
		}	
	}
	
	.two-col{
		.two-col-item{
			margin-top:0px;
		}	
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {

}